<ion-header>
  <ion-toolbar color="gray">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['']" ><ion-icon name="exit-outline" slot="icon-only" color="light"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/usuario']"><ion-icon name="person-circle-outline" slot="icon-only" color="light"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="light">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centrado texto" color="light">Bienvenido Juanito</ion-card-title>
      
    </ion-card-header>
    <img src="https://img2.rtve.es/i/?w=1600&i=1605265250290.jpg" alt="">
    <ion-card-content>
      <ion-button class="centrado" color="danger">Escanear código QR</ion-button>
    </ion-card-content>
  </ion-card>
  
  <app-asistencia></app-asistencia>

</ion-content>
<app-footer></app-footer>
